<header class="header">
  DashBoard Application
</header>
<div class="card-container">
  <a class="card" rel="noopener noreferrer" rel="noopener" routerLink="/banner">
    <span>Banner App</span></a>
  <a class="card" rel="noopener noreferrer" rel="noopener" routerLink="/products">
    <span>E-commerce App</span>
  </a>
  <a class="card" rel="noopener noreferrer" rel="noopener" routerLink="/timer">
    <span>Timer App By Decorators</span>
  </a>
  <a class="card" rel="noopener noreferrer" rel="noopener" routerLink="/timer-service">
    <span>Timer App By Service</span>
  </a>
  <a class="card" rel="noopener noreferrer" rel="noopener" routerLink="/students">
    <span>Marksheet App</span>
  </a>
</div>
<router-outlet></router-outlet>
