<h3>Students Marksheet</h3>
<table mat-table [dataSource]="students" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th id="name" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="class">
    <th id="class" mat-header-cell *matHeaderCellDef mat-sort-header>Class</th>
    <td mat-cell *matCellDef="let element">{{element.class}}</td>
  </ng-container>
  <ng-container matColumnDef="section">
    <th id="section" mat-header-cell *matHeaderCellDef mat-sort-header>Section</th>
    <td mat-cell *matCellDef="let element">{{element.section}}</td>
  </ng-container>
  <ng-container matColumnDef="english">
    <th id="english" mat-header-cell *matHeaderCellDef mat-sort-header>English</th>
    <td mat-cell *matCellDef="let element">{{element.english}}</td>
  </ng-container>
  <ng-container matColumnDef="maths">
    <th id="maths" mat-header-cell *matHeaderCellDef mat-sort-header>Maths</th>
    <td mat-cell *matCellDef="let element">{{element.maths}}</td>
  </ng-container>
  <ng-container matColumnDef="science">
    <th id="science" mat-header-cell *matHeaderCellDef mat-sort-header>Science</th>
    <td mat-cell *matCellDef="let element">{{element.science}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
